Q.1 Create one variable containing following type of data

In [1]:
a = "chandrakant"

In [2]:
b = [2,3.5,"chandrakant",True]

In [4]:
c = 4.8

In [5]:
d = ("chandrakant", "dipesh")

Q.2 Given are some following variables containing data

Ans:- (1) String, (2) List, (3) List, (4) num

Q.3 Explain the use of the following operators using an example:

(1)  / :- given quotient of two numbers result always has float type

In [7]:
10/5

2.0

(2)  % :- given reminder of two number

In [8]:
5%3

2

(3)  // :- given quotient of two numbers result always has integer type

In [9]:
10//5

2

(4) ** :- used for calculating exponential of one on another number

In [10]:
8**3

512

Q.4 Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:
list=[30,30.5,240,True,"chandrakant","dipesh",7+4j,"sourabh",40.5,50.5]
for k in list:
    print(k)
    print(type(k))

30
<class 'int'>
30.5
<class 'float'>
240
<class 'int'>
True
<class 'bool'>
chandrakant
<class 'str'>
dipesh
<class 'str'>
(7+4j)
<class 'complex'>
sourabh
<class 'str'>
40.5
<class 'float'>
50.5
<class 'float'>

Q.5 Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [15]:
a=int(input())
b=int(input())
c=0
if a/b==0:
    while(a/b>=b and type(a/b)==int):
        c+=1
        a/=b
    c
else:
    print("number is not divisible")

 10
 3

number is not divisible

Q.6 Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [16]:
list=[11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]
list1=[]
list2=[]
for i in list:
    if i%3==0:
        list1.append(i)
    else:
            list2.append(i)

In [17]:
list1

[12, 15, 18, 21, 24, 27, 30, 33]

In [18]:
list2

[11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35]

Q.7 What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable:- if you are able to change something at a particular index for a particular collection or a data types is known as mutable.

In [19]:
b = [2,2,3,4,5,6,6,'chandrakant','dipesh',True,4+7j]

In [20]:
b[8] = 'sourabh'

In [21]:
b

[2, 2, 3, 4, 5, 6, 6, 'chandrakant', 'sourabh', True, (4+7j)]

immutable:- if you are not able to change something at a particular index for a particular collection is known as immutable.

In [22]:
c = "chandrakant"

In [23]:
c

'chandrakant'

In [24]:
c[1]=d

TypeError: 'str' object does not support item assignment